.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;

    &.active {
      color: rgba(1,148,243,1.00);
    }

    &:hover {
      color: rgba(1,148,243,1.00);
    }

    &:hover .hover-bottom {
      background-color: rgba(1,148,243,1.00);

      &.active {
        color: rgba(1,148,243,1.00);
      }
    }

    .hover-top {
      width: 100%;
      height: 3px;
      background-color: transparent;
    }

    .hover-bottom {
      width: 100%;
      height: 3px;
    }
  }
}
