.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    width: 700px;
    height: 100%;
    font-weight: 700;
}
